@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: "poppins, sans-serif";
    /* background-color: #d7d7d7; */
}

* {
    margin: 0;
}

p {
    margin: 20px 0;
}

.nav-link {
    @apply px-4 py-2 bg-transparent text-white hover:bg-white hover:text-black transition-colors duration-300;
    border-radius: 20px;
}

/* .clip-slant {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
} */

.cont {
    max-width: 1170px;
}


@media (max-width: 500px) {
    .nav-link {
        padding: 1rem;
        text-align: left;
    }
}
